
* {
box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
/* Per a telèfons mòbils: */
[class*="col-"] {
width: 100%;
}


body{
	
	background-color:#C1F9E4;
	
}

.form-control{
	

	box-shadow:2px 2px 10px 2px green;

	
}
.form-control:hover{ 


	border: 2px solid black !important;
	

}

.form-control:active{
	
	
	border: 5px solid green !important;


}
	
}
.row:after {
content: "";
clear: both;
display: block;
}

[class*="col-"] {
float: left;
padding: 15px;
}

@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
	
.form-control{
	

	box-shadow:2px 2px 10px 2px green;

	
}
.form-control:hover{


	border: 2px solid black !important;
	

}

.form-control:active{
	
	
	border: 5px solid green !important;


}


body{
	
	background-color:#DFDFDF;
	
}

}

